@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&family=Unbounded:wght@700&display=swap');

/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply fixed -left-full top-0 max-w-[256px] w-full h-screen bg-color-gray-400 z-20 lg:hidden duration-300 ease-in 
}

.sidebar.active {
  @apply left-0
}

.menu-btn {
  @apply sm:w-8 sm:h-8 w-6 h-6 bg-color-gray-400 text-color-gray-100 cursor-pointer sm:rounded-md grid place-items-center fixed top-5 left-5 z-[30] lg:hidden duration-300 ease-in
}

.menu-btn.active{
  @apply sm:left-[268px] left-[256px]
}